img {
    height: 50px;
    width: 50px;
}

ul {
    list-style: none;
}

.list > li {
    display: flex;
    margin: 10px;
}

.list li p {
    margin: 0;
    padding: 0;
}

.list li p:nth-child(2) {
    color: rgb(163, 163, 163)
}

body {
    margin: 0;
}

.app {
    display: flex;
    justify-content: center;
}

h1 {
    text-align: center;
    width: 100%;
    justify-self: center;
}

form {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding-left: 10px;
}

form input {
    width: 50%;
    margin: 5px;
}

form button {
    width: 50%;
    margin-top: 20px;
}

.searchbar {
    display: flex;
    justify-content: center;
}

.add-employee {
    display: flex;
    justify-content: center;
    margin: 10px;
}

dialog {
  padding-top: 5px;
}

header span {
    color: lightblue;
    position: relative;
    right: 50px;
}

ul li {
    cursor: pointer;
}